<div>
	<img src="images/spacer.png" height="100" alt=""/>
</div>
            
<div class="ReviveImg">
    <div style="position:relative; margin:auto; width:940px; height:390px; overflow: hidden;">
            <img src="images/Revive_Img.png" width="1296" height="390" alt="Remember... Relive... Revive..." />
            <div class="WelcomeTxt">EVENTS REMEMBERED AND RELIVED</div>
            <div class="WelcomeSubTxt">life is short... live in the moment... love the past...</div>
    </div>
</div>

<div class="WelcomeIntroBlock">
    <div class="WelcomeIntro">
        <div class="WelcomeTitleText">A Simple Way to Revive Events</div>
        <div class="WelcomeSubText">If there's an event you've attended or wanted to attend, and you would like to relive it through the eyes of others, you can find it here. Log in with Facebook to get started.</div>
    </div>
<div class="WelcomeIntroRight">
    <div class="WelcomeTitleText">Save Your Favorite Events</div>
    <div class="WelcomeSubText">Once you find an event, you can save it in your collection, so you can relive it as often as you like through it's beautiful imagery, sounds, and the words of others. </div>
    </div>
</div>

<div style="position: relative; clear: left;"><img src="images/spacer.png" height="40" alt=""/></div>

<div class="Footer">
    <div class="Line_Gray">&nbsp;</div>
    <div class="Line_White">&nbsp;</div>
    <div class="FooterLeft">
        <div class="FooterLeftText"><span onmouseover="doMouseOver(this);" onmouseout=" doMouseOut(this);" onclick=" doOnClick(alert('still working on it'));" style="cursor:pointer;">about</span> &nbsp;&nbsp;&nbsp;<nobr />&nbsp;&nbsp;&nbsp; <span onmouseover=" doMouseOver(this);" onmouseout=" doMouseOut(this);" onclick=" doOnClick(alert('still working on it'));" style="cursor:pointer;">faq</span></div>
    </div>
    <div class="FooterRight">
        <div class="FooterRightText"><span onmouseover="doMouseOver(this);" onmouseout="doMouseOut(this);" onclick="doOnClick(alert('still working on it'));" style="cursor:pointer;">privacy</span> &nbsp;&nbsp;&nbsp;<nonbr />&nbsp;&nbsp;&nbsp; <span onmouseover="doMouseOver(this);" onmouseout="doMouseOut(this);" onclick="doOnClick(alert('still working on it'));" style="cursor:pointer;">&copy;2016</span></div>
    </div>
</div>